<form role="form" action="https://getsimpleform.com/messages?form_api_token=7b02eae8a6a9060f4938829bcfc84a93" method="post" enctype="multipart/form-data">
	<input type='hidden' name='redirect_to' value='https://lucaslionline.github.io/lucas/sent.html' />

	<textarea name="Message" rows="5" class="form-control" placeholder="Leave a comment..." required></textarea>

	<p style="text-align: right;">
		<button type="submit" class="btn-send">
			<i data-feather="send"></i>
		</button>
	</p>
</form>



<!-- feather icons -->
<script>feather.replace()</script>