<footer>
	<div class="profile">
		<img class="profile-avatar" src="{{ site.baseurl }}/assets/img/{{ site.avatar }}.png">
		<div>
			<span class="profile-title">
				<span class="eng">Lucas Li</span>
				<span class="chn">李  立</span>
			</span><br>
			<span class="profile-subtitle">
				<span class="eng">China Academy of Building Research</span>
				<span class="chn">中國建築科學研究院</span>
			</span>
		</div>
	</div>

	<div class="gray">
		<i data-feather="inbox"></i> {{ site.email }}<br>
		<i data-feather="phone"></i> {{ site.tel }}<br>
		<i data-feather="map-pin"></i> <span class="eng">Beijing, China</span>
		<span class="chn">中國 北京</span>
	</div>
</footer>



<!-- feather icons -->
<script>feather.replace()</script>